<div class="container">
  <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
    <div class="formItems">
      <mat-form-field>
        <mat-label for="name">Exercise Name</mat-label>
        <mat-select formControlName="name">
          <mat-option id="name" *ngFor="let exercise of exerciseTemplates" [value]="exercise.name">
            {{exercise.name}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <button class="addExerciseButton" mat-raised-button color="primary" type="submit">Add Exercise</button>
    </div>
  </form>

</div>
