<!--<h4>Add Set</h4>-->
<form [formGroup]="setForm" (ngSubmit)="onSubmit()">
  <div class="form">

    <mat-form-field>
      <mat-label for="reps">Reps</mat-label>
      <input matInput id="reps" required type="text" formControlName="reps">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="weight">Weight</mat-label>
      <input matInput id="weight" required type="text" formControlName="weight">
    </mat-form-field>

    <button mat-raised-button color="primary" class="submitButton" type="submit">
    <mat-icon type="submit">check_circle</mat-icon>
  </button>

  </div>

</form>


