.workoutListTitle {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
}

.workoutList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  /*background-color: #2A2B2A;*/
}
