<div class="container">
  <h1 class="templateManagement">Template Management</h1>
  <div class="exerciseManagement">
    <h3>Add Exercise Template</h3>

    <form [formGroup]="exerciseForm" (ngSubmit)="onExerciseTemplateSubmit()">
      <mat-form-field>
        <mat-label for="name">Exercise Name</mat-label>
        <input matInput id="name" required type="text" formControlName="name">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit">Add Exercise Template</button>
    </form>

  </div>

  <div class="workoutManagement">
    <h3>Add Workout Template</h3>

    <form [formGroup]="workoutForm" (ngSubmit)="onWorkoutTemplateSubmit()">

      <mat-form-field>
        <mat-label for="workoutName">Workout Name</mat-label>
        <input matInput id="workoutName" required type="text" formControlName="name">
      </mat-form-field>

      <div formArrayName="exercises" *ngFor="let exerciseFormGroup of exercises.controls; last as isLast; index as i">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label for="name">Exercise Name</mat-label>
            <mat-select formControlName="name">
              <mat-option id="name" *ngFor="let exercise of exerciseTemplates" [value]="exercise.name">
                {{exercise.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-icon-button color="warn" (click)="deleteExercise(i)" *ngIf="exercises.length > 1">
          <mat-icon>remove_circle</mat-icon>
        </button>
        </div>
        <button mat-icon-button color="primary" *ngIf="isLast" (click)="addExercise()">
          <mat-icon>add_circle</mat-icon>
        </button>

      </div>

      <button mat-raised-button color="primary" type="submit">Add Workout Template</button>

<!--      <h2>Form Value</h2>-->
<!--      <div>{{exercises.valueChanges | async | json}}</div>-->

    </form>


  </div>
</div>

<div class="templates">

  <div class="templateContainer">
    <mat-card>
      <h1>Exercise Templates</h1>
      <div *ngFor="let exerciseTemplate of exerciseTemplates">
        <h3>{{exerciseTemplate.name}}</h3>
      </div>
    </mat-card>
  </div>

  <div class="templateContainer">
    <mat-card>
      <h1>Workout Templates</h1>
      <div *ngFor="let workoutTemplate of workoutTemplates">
        <h3>{{workoutTemplate.name}}</h3>
        <ul>
          <li *ngFor="let exericses of workoutTemplate.exercises ">
            {{exericses.name}}
          </li>
        </ul>
      </div>
    </mat-card>
  </div>

</div>

