.container {
  text-align: center;
}

.templateContainer {
  width: fit-content;
  margin: 10px;
}

.templateManagement {

}

.templates {
  display: flex;
  justify-content: center;
  margin: 20px;
}
